.Favorites {
  align-self: center;
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  min-width: 90px;
}

.Favorites strong {
  color: rgb(5, 114, 90);
  font-size: 1.3rem;
  padding-left: 5px;
}

.LikeImg {
  padding-top: 10px;
  width: 1rem;
}


.FavoritesButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.FavoritesButton:disabled{
 color: gray;
 cursor: not-allowed;
}

@media (max-width: 800px) {

  .Favorites {
    text-align: center;
    padding-right: 0;

  }
  .FavoritesButton {
    width: 70px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    padding: 0.4rem;
  }

}

