.Favorites {
  align-self: center;
  justify-self: left;
  align-items: center;
  z-index: 90;
}

.Favorites strong {

  color: rgb(5, 114, 90);
  font-size: 1.3rem;

}

.FavMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 90;
}

@media (max-width: 800px) {
  .Favorites {
   
    border-radius: 5px;
    width: 200px;
padding-top: .4rem;
padding-bottom: .4rem;

  
  }

}