.SearchForm {
    width: 100%;
    text-align: left;
}

.SelectField {
    font-size: 1rem;
    height: 2.5rem;
    background-color: #52dfd2;
    border-radius: 10px;
    border: 1px dotted rgb(175, 173, 173);
    box-shadow: 0px 1px 5px 0px #3f3e3e;
    z-index: 2;
    cursor: pointer;
    width: 70%;
    margin-top: .5rem; 
    max-width: 250px;
    min-width: 180px;
}

select option {
    color: rgb(58, 58, 58); 
}


@media (max-width: 800px) {
   .SearchForm{
        margin: 0 auto;
    
     }
     .SelectField {
        width: 200px;
        height: 2rem;
    }
}

@media (max-width: 350px) {
    .SelectField {
        width: 180px;
        font-size: .8rem;
    }
}
