 .ResultButton {
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px dotted grey;
    width: 80%;
    margin: 5px auto;
    justify-content: center;
    background-color: #70e7dd;
    opacity: 0.9;
    border-radius: 10px;
    cursor: pointer;
    height: 80%;
    text-align: center;
}
 
 .ResultButton:hover {
    background-color: teal;
    color: white;
}
 
.KinoThumbnail {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
}

p {
   font-size: 1rem;
}

