
.Header {

margin: 0 auto;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;

}

.Logo {
    width: 50px;
    margin-top: .7rem;
    float: left;
    padding: 5px;
    position: absolute;
    margin-left: -150px;

}

.Title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
    .Header {
        width: 100%;
    }

    .Title {
        margin-bottom: .5rem;
        color: white;
    }

    .Logo {
        margin-left: -150px;
    }
}