form {
    margin-bottom: 2rem;
}

select {
    width: 250px;
    font-size: 1rem;
    height: 3rem;
    background-color: #52dfd2;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(175, 173, 173);
    box-shadow: 0px 1px 5px 0px #3f3e3e;
    z-index: 2;
    cursor: pointer;
    margin-top: 1.5rem;
}

select option {
    color: rgb(58, 58, 58); 
}


@media (max-width: 800px) {
    form {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
     }
    select {
        width: 200px;
        height: 2rem;
        margin-left: 0;
        background-color: white;
    }
}

@media (max-width: 350px) {
 
    select {
        width: 180px;
        font-size: .8rem;
    }
}