.Footer {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 1.2rem;
}

.Footer p {
    margin-top: .5rem;
    padding-top: 0;
    font-size: .8rem;
    padding: 10px;
}