 .CinemaApp {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 80%;
 }
 
 .Results {
    background-color: white;
    border-radius: 10px;
    margin-right: .5rem;
    margin-left: 1.5rem;
    margin-top: -.8rem;
    height: 90%;
} 

a {
    text-decoration: none;
}

a:visited {
    color: rgb(63, 60, 60);
}

.NoFavMessage {
    align-items: center;
    margin-top: 10%;
}

@media (max-width: 1200px) {
    h4 {
      font-size: .8rem;
    }
  
    .CinemaApp {
      
      grid-template-columns: 40% 60%;
    }
}  

@media (max-width: 1000px) {

    .CinemaApp {
        display: flex;
        flex-direction: column;
        height: 100%;
     }

    .Results {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: .5rem;
      margin-left: 0;
      border-radius: 0;
      margin-top: 1rem;
    }
}
