.Favorites {
  margin-left: .3rem;
  width: 100px;
  margin-top: -.6rem;
  min-width: 40px;
}

.Favorites strong {
  color: rgb(5, 114, 90);
  font-size: 1.3rem;
  padding-left: 5px;
}

.Favorites button {
  margin: 0;
  padding: 0;
}

.LikeImg {
  padding-top: 10px;
  width: 1rem;
}

.FavoritesButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.FavoritesButton:disabled{
 color: gray;
 cursor: not-allowed;
}

@media (max-width: 1000px) {

  .Favorites {
    text-align: center;
    padding-right: 0;
    margin-left: .2rem;
  }

  .FavoritesButton {
    opacity: 0.9;
  }
}

