* {
  box-sizing: border-box;
}

h1 {
  color: #009688;
  font-size: 1.8rem;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 1rem;
}

.CinemaApp {
  margin: 0 auto;
  height: 100vh;
  width: 90vw;
  max-height: 100%;
  min-height: 100vh;
  min-width: 750px;
  background-color: white;
  align-self: center;
  opacity: 0.9;
  display: grid;
  grid-template-columns:  50% 50%;
  grid-template-rows: 10% 80% 10%;
} 

.DetailsPage {
  padding-top: 1rem;
  margin-left: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 2rem;
  background-color: white;
  border: 1px #dfdfdf solid;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #a7a7a7; 
  min-width: 300px;
  justify-content: center;
  max-height: 800px;
  opacity: 1;
}

.DetailsPage li {
  padding-bottom: 1rem;
}

.DetailsPage h2 {
  color: rgb(88, 62, 99);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}


@media (max-width: 1200px) {

  h4 {
    font-size: .8rem;
  }

  .CinemaApp {
    grid-template-columns: 40% 60%;
  }
  
}

@media (max-width: 1000px) {

  h1 {
    margin-left: 0;
    text-align: center;
    margin-top: 1rem;
    margin-right: 0;
    padding: 0;
  }

  .CinemaApp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: url("../src/img/cinema.jpg");
  }

  .DetailsPage {
    background-color: rgb(171, 231, 231);
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2rem;

  }

  .DetailsPage h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .DetailsPage h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

}
