* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: url("../src/img/cinema.jpg");
  background-position: center 100%; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  opacity: 0.8;
  display: flex;
}

.Logo {
  width: 40px;
  margin-right: 1rem;
  float: left;
  margin-top: -8px;
}
 
.MainForm {
  background-color: white;
  margin: 0 auto;
  padding-left: 20px;
  width: 90%;
  min-width: 750px;
  height: 90%;
  align-items: center;
  align-self: center;
  opacity: 0.9;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 1.5fr;
  z-index: 1;
}

h1 {
  margin-left: 1rem;
  text-align: left;
  color: #009688;
  font-size: 1.8rem;
  margin-right: 1rem;
  font-weight: normal;
  margin-bottom: 0;
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
  min-width: 300px;
}


p {
  font-size: 1rem;
}

.activeResultButton {
  padding: 15px;
  width: 80%;
  height: 110px;
  margin: 0;
  border: 1px solid #70e7dd;
  margin: 5px auto;
  justify-content: center;
  background-color: teal;
  color: white;
  opacity: 0.9;
  border-radius: 10px;
  cursor: not-allowed;
  text-align: center;
}

.ResultButton {
  padding: 15px;
  width: 80%;
  height: 110px;
  margin: 0;
  border: 1px dotted grey;
  margin: 5px auto;
  justify-content: center;
  background-color: #70e7dd;
  opacity: 0.9;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: rgb(37, 43, 43);
  transition: 0.3s ease-in-out;
}

.ResultButton:hover {
  background-color: teal;
  color: white;
}


.KinoThumbnail {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  float: left;
  filter: grayscale();
}

.activeKinoThumbnail {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  float: left;
}

.Welcome {
  margin-top: -1rem;
  text-align: center;
}

@media (max-width: 1200px) {
  
  .MainForm {
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 70%;
  }

  .ResultButton p{
  
    display: none;
  } 
  .activeResultButton p {
    display: none;

  }

  .KinoThumbnail {
    width: 60px;
    height: 60px;
  }
  
  .activeKinoThumbnail {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 900px) {

  h4 {
    font-size: .8rem;
  }

  .MainForm {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    min-width: 450px;
  }

  .KinoThumbnail {
    width: 50px;
    height: 50px;
  }
  
  .activeKinoThumbnail {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 800px) {

  .MainForm {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    min-width: 100%;
    background-color: rgb(171, 231, 181);
  }

  h1 {
    margin-left: 0;
    text-align: center;
    margin-top: 1rem;
    margin-right: 0;
    padding:0;
  }
  
  h4 {
    font-size: .8rem;
  }

  .ResultButton p{
    padding: 5px;
    display: block;
    font-size: .8rem;
  } 

  .activeResultButton p {
    padding: 5px;
    display:block;
    font-size: .8rem;
  }

  .Logo {
   margin-left: 3rem;
   margin-right: 0;
  }

  .KinoThumbnail {
    width: 80px;
    height: 80px;
  }

  .activeKinoThumbnail {
    width: 80px;
    height: 80px;
  }

  .App {
    background: white;
  }
}