* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: url("../src/img/cinema.jpg");
  background-position: center 100%; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  opacity: 0.8;
  display: flex;
}

.MainForm {
  background-color: white;
  margin: 0 auto;
  padding-left: 10px;
  width: 90%;
  min-width: 750px;
  min-height: 500px;
  height: 90%;
  align-items: start;
  align-self: center;
  opacity: 0.9;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 10% 80% 5%;
  grid-template-columns: 50% 30% 20%;
  z-index: 1;
}

h1 {
  color: #009688;
  font-size: 1.8rem;
  margin-right: 1rem;
  font-weight: normal;
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
  min-width: 300px;
}

p {
  font-size: 1rem;
}

.ResultButton {
  padding: 5px;
  width: 90%;
  height: 110px;
  border: 15x dotted grey;
  margin: 5px auto;
  background-color: #70e7dd;
  opacity: 0.9;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: rgb(37, 43, 43);
  transition: 0.3s ease-in-out;
  max-width: 500px;
}

.ActiveResultButton {
  padding: 5px;
  width: 90%;
  height: 110px;
  border: 1px solid #70e7dd;
  margin: 5px auto; 
  background-color: teal;
  color: white;
  opacity: 0.9;
  border-radius: 10px; 
  cursor: not-allowed;
  text-align: center; 
  max-width: 500px;
}

.ResultButton:hover {
  background-color: rgb(131, 109, 168);
  color: white;
}

.KinoThumbnail {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  float: left;
  filter: grayscale();
  margin-top: 10px;
  margin-left: 3rem;
}

.ActiveKinoThumbnail {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  float: left;
  margin-left: 3rem;
}

.ActiveLikeButton {
  float: right;
  margin-top: -3rem;
  width: 50px;
  background-color: white;
  color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: .4rem;
}

.NotActiveLikeButton {
  float: right;
  margin-top: -3rem;
  width: 50px;
  background-color: rgb(97, 25, 69);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: .4rem;
}

@media (max-width: 1200px) {

  .MainForm {
    min-width: 450px;
    grid-template-columns: 40% 50% 10%;
  }

   .ResultButton p{
    display: none;
  } 

  .ActiveResultButton p {
    display: none;
  }
 
  .ActiveLikeButton {
    float: none;

  }

  .NotActiveLikeButton {
    float: none;
    
  }


  .KinoThumbnail {
    margin-left: 1rem;
  }

  .ActiveKinoThumbnail {
    margin-left: 1rem;
  }
}

@media (max-width: 800px) {

  .App {
    background: white;
  }

  .MainForm {
    border-radius: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    min-width: 100%;
    background: url("../src/img/cinema.jpg");
    /*background-color: rgb(171, 231, 181);*/
  }

  h1 {
    margin-left: 0;
    text-align: center;
    margin-top: 1rem;
    margin-right: 0;
    padding:0;
  }
  
  h4 {
    font-size: .8rem;
  }

  .ResultButton p{
    padding: 5px;
    display: block;
    font-size: .8rem;
  } 

  .ActiveResultButton p {
    padding: 5px;
    display:block;
    font-size: .8rem;
  }

  .KinoThumbnail {
   margin-left: 2rem;
  }

  .ActiveKinoThumbnail {
    margin-left: 2rem;
  }

  .ActiveLikeButton {
    float: right;

  }

  .NotActiveLikeButton {
    float: right;
    
  }
}


@media (max-width: 420px) {
  .ResultButton p{
    display: none;
  } 

  .ActiveResultButton p {
    display: none;
  }
  .ActiveLikeButton {
    float: none;

  }

  .NotActiveLikeButton {
    float: none;
}

}