.HomeBtn{
  margin-top: -.4rem;
  margin-left: .3rem;
  padding-right: .2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 0;
  width: 30px;
}
  
@media (max-width: 800px) {
  .HomeBtn {
    margin-left: .4rem;
    text-align: center;
    padding-right: 0;
    width: 25px;
  }
}
  