.HomeBtn {
  margin-top: .3rem;
  margin-left: .2rem;
  padding-right: .2rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 0;
}

.HomeImg {
  width: 28px;
}
  

@media (max-width: 800px) {
  
  .HomeBtn {
    text-align: center;
    padding-right: 0;
    margin-top: 0;
  }

  .HomeImg {
    width: 25px;
    margin-left: .4rem;
  }
  
}
  